@use 'base/variables';
@use 'base/mixins';

.header {
  display: flex;
  flex-direction: column;
  padding: variables.$separacion;
  align-items: center;
  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-between;
  }
  &__logo {
    width: 30rem;
    margin-bottom: 5rem;
    @include mixins.desktop {
      margin-bottom: 0;
    }
  }
}
